In [26]:
# DataFrame: cria uamaTabela bidimensional de dados, composta por linhas e colunas.
# Series :  Estrutura unidimensional, representando uma coluna ou linha de um DataFrame.

import pandas as pd 
import numpy as np 

lista = np.arange(8)**2
dt = pd.Series(lista)
display(dt)


lista3 = {
    'nums' : np.arange(8)**2,
    'number': np.arange(8)*2
}

dt = pd.DataFrame(lista3)
print(dt)


arr = np.arange(8).reshape(2,4)**2
dt3 = pd.DataFrame(arr)
display(dt3)

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
dtype: int32

   nums  number
0     0       0
1     1       2
2     4       4
3     9       6
4    16       8
5    25      10
6    36      12
7    49      14

    0   1   2   3
0   0   1   4   9
1  16  25  36  49

In [27]:
lista3 = np.arange(8) + 2
ser = pd.Series(lista3, name='number')
display(ser)

0    2
1    3
2    4
3    5
4    6
5    7
6    8
7    9
Name: number, dtype: int32