In [45]:
import pandas as pd
import numpy as np



url = 'D:/credito.csv'
base_analise_3 = pd.read_csv(url)

display(base_analise_3)

,id,default,idade,sexo,dependentes,escolaridade,estado_civil,salario_anual,tipo_cartao,meses_de_relacionamento,qtd_produtos,iteracoes_12m,meses_inativo_12m,limite_credito,valor_transacoes_12m,qtd_transacoes_12m
0,768805383,0,45,M,3,ensino medio,casado,$60K - $80K,blue,39,5,3,1,"12.691,51","1.144,90",42
1,818770008,0,49,F,5,mestrado,solteiro,menos que $40K,blue,44,6,2,1,"8.256,96","1.291,45",33
2,713982108,0,51,M,3,mestrado,casado,$80K - $120K,blue,36,4,0,1,"3.418,56","1.887,72",20
3,769911858,0,40,F,4,ensino medio,na,menos que $40K,blue,34,3,1,4,"3.313,03","1.171,56",20
4,709106358,0,40,M,3,sem educacao formal,casado,$60K - $80K,blue,21,5,0,1,"4.716,22","816,08",28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,0,50,M,2,mestrado,solteiro,$40K - $60K,blue,40,3,3,2,"4.003,91","15.476,26",117
10123,710638233,1,41,M,2,na,divorciado,$40K - $60K,blue,25,4,3,2,"4.277,04","8.764,88",69
10124,716506083,1,44,F,1,ensino medio,casado,menos que $40K,blue,36,5,4,3,"5.409,16","10.291,78",60
10125,717406983,1,30,M,2,mestrado,na,$40K - $60K,blue,36,4,3,3,"5.281,84","8.395,62",62
10126,714337233,1,43,F,2,mestrado,casado,menos que $40K,silver,25,6,4,2,"10.388,80","10.294,96",61

In [46]:
base_analise_32 = df.copy()
df2 = df2[df2['idade'] > 30]

df2['faixa_idade'] = np.where(df2['idade'] < 40, '30-39 Anos'
                              ,np.where(df2['idade'] < 50, '40-49 Anos'
                              ,np.where(df2['idade'] < 60, '50-59 Anos', '> 60 Anos')))

df2['Faixa_relaionamento'] = np.where(df2['meses_de_relacionamento'] < 10, 'Cliente novo'
                                      ,np.where(df2['meses_de_relacionamento'] < 30, 'Cliente Operavel'
                                      ,np.where(df2['meses_de_relacionamento'] < 50, 'Cliente Senior'
                                      ,'Cliente Premium',)))

df2['faixa_transacoes'] = np.where(df2['qtd_transacoes_12m'] < 20, 'poucas transações'
                                      ,np.where(df2['qtd_transacoes_12m'] < 30, 'transações medias'
                                      ,np.where(df2['qtd_transacoes_12m'] < 50, 'altas transações'
                                      ,'Muitas transações',)))

df2['faixa_qtd_produtos'] = np.where(df2['qtd_produtos'] <= 2, '1-2 produtos'
                                      ,np.where(df2['qtd_produtos'] <= 5, '3-5 produtos'
                                     , '> 6 produtos'))
                                    

display(df2)

,id,default,idade,sexo,dependentes,escolaridade,estado_civil,salario_anual,tipo_cartao,meses_de_relacionamento,qtd_produtos,iteracoes_12m,meses_inativo_12m,limite_credito,valor_transacoes_12m,qtd_transacoes_12m,faixa_idade,Faixa_relaionamento,faixa_transacoes,faixa_qtd_produtos
0,768805383,0,45,M,3,ensino medio,casado,$60K - $80K,blue,39,5,3,1,"12.691,51","1.144,90",42,40-49 Anos,Cliente Senior,altas transações,3-5 produtos
1,818770008,0,49,F,5,mestrado,solteiro,menos que $40K,blue,44,6,2,1,"8.256,96","1.291,45",33,40-49 Anos,Cliente Senior,altas transações,> 6 produtos
2,713982108,0,51,M,3,mestrado,casado,$80K - $120K,blue,36,4,0,1,"3.418,56","1.887,72",20,50-59 Anos,Cliente Senior,transações medias,3-5 produtos
3,769911858,0,40,F,4,ensino medio,na,menos que $40K,blue,34,3,1,4,"3.313,03","1.171,56",20,40-49 Anos,Cliente Senior,transações medias,3-5 produtos
4,709106358,0,40,M,3,sem educacao formal,casado,$60K - $80K,blue,21,5,0,1,"4.716,22","816,08",28,40-49 Anos,Cliente Operavel,transações medias,3-5 produtos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10121,713899383,0,56,F,1,mestrado,solteiro,menos que $40K,blue,50,4,4,1,"3.688,95","14.596,49",120,50-59 Anos,Cliente Premium,Muitas transações,3-5 produtos
10122,772366833,0,50,M,2,mestrado,solteiro,$40K - $60K,blue,40,3,3,2,"4.003,91","15.476,26",117,50-59 Anos,Cliente Senior,Muitas transações,3-5 produtos
10123,710638233,1,41,M,2,na,divorciado,$40K - $60K,blue,25,4,3,2,"4.277,04","8.764,88",69,40-49 Anos,Cliente Operavel,Muitas transações,3-5 produtos
10124,716506083,1,44,F,1,ensino medio,casado,menos que $40K,blue,36,5,4,3,"5.409,16","10.291,78",60,40-49 Anos,Cliente Senior,Muitas transações,3-5 produtos
10126,714337233,1,43,F,2,mestrado,casado,menos que $40K,silver,25,6,4,2,"10.388,80","10.294,96",61,40-49 Anos,Cliente Operavel,Muitas transações,> 6 produtos

In [47]:
base_analise_3 = df2.copy()

base_analise_3['qtd_produtos'] = df2['qtd_produtos']


table = pd.pivot_table(base_analise_3, columns='faixa_idade', values='qtd_produtos', 
                       fill_value='-', aggfunc='sum', index=['Faixa_relaionamento'])


TB_analise_transacoes = pd.pivot_table(base_analise_3, columns='Faixa_relaionamento', index='faixa_transacoes', aggfunc='size', fill_value='-')

TB_analise_transacoes.loc['Total', :] = TB_analise_transacoes.sum()
TB_analise_transacoes['Total'] = TB_analise_transacoes.sum(axis=1)


display(soma)

# porcentagens = TB_analise_transacoes.div(TB_analise_transacoes['Total'], axis=0) * 100
# display(porcentagens)


display(table)
print('----------------------------------------------------------------------------------------------------------')
display(TB_analise_transacoes)

99

faixa_idade         30-39 Anos 40-49 Anos  50-59 Anos > 60 Anos
Faixa_relaionamento
Cliente Operavel          4243       2386          41         -
Cliente Premium              -          -         757      1285
Cliente Senior            2762      14687       10529       863

----------------------------------------------------------------------------------------------------------

Faixa_relaionamento  Cliente Operavel  Cliente Premium  Cliente Senior   Total
faixa_transacoes
Muitas transações              1214.0            292.0          5413.0  6919.0
altas transações                443.0            167.0          1728.0  2338.0
poucas transações                14.0             13.0            73.0   100.0
transações medias                49.0             42.0           414.0   505.0
Total                          1720.0            514.0          7628.0  9862.0

KeyError: 'Column not found: Faixa_relacionamento'