In [4]:
lista = [1,2,3,4,5]
#'lista compression'
lista2 = ['sim' if i < 2 else 0 for i in lista]
display(lista2)

['sim', 0, 0, 0, 0]

In [15]:
indices = range(0,10,3)

for i in indices:
    print(i)

0
3
6
9

In [19]:
# Usando iter
nome = 'jonas'
nome = iter(nome)
while True:
    try:
        print(nome.__next__())
    except:
        print('fim')
        break

j
o
n
a
s
fim

In [33]:
numero = [1,2,3,4,5,6,7]
list(numero)
numero.append(10)
numero

[1, 2, 3, 4, 5, 6, 7, 10, 2]

In [41]:
import pandas as pd
dados = {'nome' : ['joans', 'jonathan', 'pedro', 'andre'],
         'idade': [10,20, 30,40] }

df =  pd.DataFrame(dados)

df2, *resto = df['nome']
print(resto)

['jonathan', 'pedro', 'andre']

TypeError: optional argument must be a context